body {
    font-family: sans-serif;
    margin: 20px;
    color: aqua;
    background-image: url('6074571.jpg');
    background-size: cover;
    background-position: center;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #8879c9;
    border-radius: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #16083d;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 40%;
  }
  
  .data-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .data-table th,
  .data-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .data-table th {
    background-color: #f0f0f0;
  }
  